body {
  background-color: rgb(0,0,0);
}
h1,h2,h3,h4,h5,h6,h7,h8,h9,h10 {
  color: rgb(255, 187, 0);
  margin: auto;
  font-family: verdana;
  font-family: "fantasy","papyrus" ,cwTeXKai ,DFKai-SB;
  }
p {
  color: rgb(206, 246, 245);
  font-size: 24px;
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace, DFKai-SB;
 }
 pre{
  color: rgb(206, 246, 245);
  font-family: "Lucida Console", "Courier New", monospace, DFKai-SB;
  background-color: rgb(58, 57, 57);
  border: 7px solid rgb(255, 255, 0);
  width: 300px;
  padding: 40px;
  margin: auto;
 }
 div {
  color: rgb(206, 246, 245);
  font-family: "Lucida Console", "Courier New", monospace, DFKai-SB;
  background-color: rgb(58, 57, 57);
  width: 300px;
  border: 15px solid rgb(255, 255, 0);
  padding: 40px;
  margin: auto;
}
label all{
  color: rgb(206, 246, 245);
  font-size: 24px;
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace,DFKai-SB;
}
input {
  color: rgb(206, 246, 245);
  font-size: 24px;
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace, DFKai-SB;
}
select {
  color: rgb(206, 246, 245);
  font-size: 24px;
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace, DFKai-SB;
}
textarea {
  color: rgb(206, 246, 245);
  font-size: 24px;
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace, DFKai-SB;
}
a{
  color: rgb(8, 0, 255);
  font-size: 24px;
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace, DFKai-SB;
}
thead{
  color: rgb(249, 255, 86);
  background-color: rgb(108, 107, 107);
  font-size: 30px;
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace, DFKai-SB;
}
tbody{
  color: rgb(168, 248, 255);
  background-color: rgb(108, 107, 107);
  font-size: 24px;
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace, DFKai-SB;
}
ul,ol{
  color: rgb(206, 246, 245);
  font-size: 24px;
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace, DFKai-SB;
}
 img{
  display: block;
  margin: auto;
}